/*General styling */
body {
    margin: 0;
    font-family: 'Arimo';
    font-size: 16px;
    color: #FFFFFF;
    background: #F7F2DE;
}

h2 {
  font-size: 36px;
  font-family:'Arimo';
  font-weight: 100;
}

h3 {
  font-size: 28px;
  text-align: center;
  font-family:'Arimo'; 
}

h4 {
  font-size: 26px;
  font-family:'Arimo';
  font-weight: lighter;
  padding: 0;
  border: 0;
  margin: 0;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
  font-family:'Frank Ruhl Libre'; 
  font-weight: lighter;
}

/* Section 1 */
nav {
  height: 15px;
  padding: 15px;
  color: white;
  background: #F7F2DE;
  border-bottom: 1px solid;
  border-color: #0B0A08;
}

/*lock elements to the Nav bar*/
nav ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0;
  padding: 0;
  justify-items: center;
}

/*Removing default decor that comes with Unordered Lists*/
ul {
  list-style-type: none;
}

/*Remove the default underline*/
.menuOptions {
  text-decoration: none;
}

/*Adding underline on hover*/
.menuOptions:hover {
  text-decoration: underline;
}

/*Placement of NAV options*/
nav ul li {
  width: 90%;
  text-align: center;
}

a {
  color: #0B0A08;
}

.wrapper {
    height: 100vh;
}

.mainMenu {
    flex-grow: 1;
    padding: 0;
}

.side-panel-toggle {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;

    background-color: #F7F2DE;
    color:#0B0A08;
    border: none;
    outline: none;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    float: left;
}

/*Menu adjustments*/
.menuBar {
  border: 1px solid #0B0A08;
  border-top: 0;
  margin: 15px -20px;
}

.menuChoice {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  padding-top: 80%;
  margin-bottom: 180%;
}

/*Hovering on menu adds opacity effect*/
.side-panel-toggle:hover {
    opacity: 40%;
}

/*Hiding close icon when menu is not open*/
.sp-icon-close {
    display: none !important;
}

/*Panel settings*/
.side-panel {
    display: none;
    width: 200px;
    flex-shrink: 0;
    padding: 20px;
    color:#0B0A08;
    background-color: #008F51;
    float: left;
}

.side-panel-open .side-panel {
  display: initial;
}

/*Hiding one icon while the other one is visible*/
.side-panel-open .sp-icon-open {
  display: none !important;
}

.side-panel-open .sp-icon-close {
  display: initial !important;
}

/*Fram Logo*/
.logo {
  font-size: 200px;
  font-family:'Frank Ruhl Libre'; 
  font-weight: lighter;
  margin: 0;
  padding-left: 50%;
}

/*Background image*/
.background {
  background-image: url('landingPageImg/mountainview_markus_spiske.jpg');
background-size: cover;
background-size: 100%;
width: 100%;
background-repeat: no-repeat;
height: 700px;
border: 0.5px solid;
border-color: black;
}

/*Section 2*/

.options {
  display: flex;
align-items: stretch;
  background: #FFFFFF;
  color: #0B0A08;
  border: 0.5px solid;
  border-color: black;
}
/* Shopping section */
.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid;
  border-color: black;
  padding: 90px;
  margin: 0;
}

/*Softening the corners of basket and farmer image*/
.basket {
  border-radius: 20px;
}
.farmer {
  border-radius: 20px;
}

/*Button settings*/
.browseBtn {
  width: 320px;
  height: 45px;
  background: #DC4131;
  color: #FFFFFF;
  border-radius: 10px;
  border: 0;
}

.browseBtn:hover {
  background: #AE2E21;
}

.chatBtn {
  width: 320px;
  height: 45px;
  background: #DC4131;
  color: #FFFFFF;
  border-radius: 10px;
  border: 0;
}

.chatBtn:hover {
  background: #AE2E21;
}
/*Ask section*/
.ask {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid;
  border-color: black;
  padding: 90px;
  margin: 0;
}

/*Section 3*/

.info{
  display: flex;
  align-items: center;
  color: #0B0A08;
  border: 0.5px solid;
  border-color: black;
  height: 785px;
}

.h5Flex {
  display: flex;
  justify-content: space-between;
}

.orderInfo {
  border: 0.5px solid;
  border-color: black;
  display: flex;
  align-items: center;
  height: 197px;
  padding: 0px 90px;
}

.testHelp {
  margin-left: 188px;
}

/*Section 4*/
.popularProduce {
  background: #FFFFFF;
  padding-top: 90px;
  color: #0B0A08;
}

/*Heading for section 4*/
.h3Popular {
  font-weight: 100;
  display: flex;
  padding-left: 45px;
}

/*Section element for different produce options*/
.popularOptions {
  padding: 45px;
  padding-left: 30.5px;
  display: flex;
  padding-bottom: 90px;
  flex-direction: row;
  overflow-y: scroll; 
  /*added a scrolling menu in case needed*/
}

/*Images for produce products*/
.productImg {
  border-radius: 30px;
  padding: 14.5px;
  width: 455px; 
  height: 432px; 
  object-fit: cover;
}

/*Prize element for produce*/
.prize {
  display: flex;
  justify-content: space-between;
  padding: 14.5px;
  color:#0B0A08;
}

footer {
  padding-top: 32px;
  background: #DC4131;
}

/*FRAM logo*/
.footerLogo {
  padding-left: 25%;
  padding: 0 32px;
  font-weight: 100;
}

/*Decor line*/
.footerLine {
  width: 95%;
}

/*Headline in Footer*/
.footerHeading {
  font-size: 28px;
  text-align: left;
  padding: 45px;
  margin-left: 25%;
  font-family:'Arimo'; 
  font-weight: 100;
}
/*Newsletter info*/
.footerText {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}

/*Subscription form*/
form {
    display: flex;
    flex-direction: column;
    padding:45px;
    width: 50%;
    margin: auto;
}

/*Input fields in footer*/
input {
  margin-bottom: 12px;
  border-color: #FFFFFF;
  border-radius: 5px;
  padding: 7px;
}

/*subscribe Button in footer*/
.subscribeBtn {
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px;
  border-color: #E1EAF0;
  background: #E1EAF0;
}


/*Produce Page*/

.h3Produce {
  color: #0B0A08;
}

.produceText {
  color:#0B0A08;
}

.product {
  color: #0B0A08;
}

/*Flexbox for Produce*/
.produceOverview {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.partnerFarmHeadline{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #0B0A08;
  color:#0B0A08;
  margin: auto;
  width: 100%;
  padding: 45px 0;
}