/*General styling */
body {
    margin: 0;
    font-family: 'Arimo';
    font-size: 16px;
    color: #FFFFFF;
    background: #F7F2DE;
}

h2 {
  font-size: 36px;
  font-family:'Arimo';
  font-weight: 100;
}

h3 {
  font-size: 28px;
  text-align: center;
  font-family:'Arimo'; 
}

h4 {
  font-size: 26px;
  font-family:'Arimo';
  font-weight: lighter;
  padding: 0;
  border: 0;
  margin: 0;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
  font-family:'Frank Ruhl Libre'; 
  font-weight: lighter;
}

/* Section 1 */
nav {
  display: flex;
  height: 15px;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  color: white;
  background: #F7F2DE;
}

/*Fram Logo*/
.logo {
  font-size: 200px;
  font-family:'Frank Ruhl Libre'; 
  font-weight: lighter;
  margin: 0;
}

/*Background image*/
.background {
  background-image: url('https://images.unsplash.com/photo-1713244649594-0c2de54f2eaa?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=markus-spiske-WcLzVLbUP5g-unsplash.jpg');
background-size: cover;
background-size: 100%;
width: 100%;
background-repeat: no-repeat;
height: 700px;
border: 0.5px solid;
border-color: black;
}

/*Section 2*/

.options {
  display: flex;
align-items: stretch;
  background: #FFFFFF;
  color: #0B0A08;
  border: 0.5px solid;
  border-color: black;
}
/* Shopping section */
.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid;
  border-color: black;
  padding: 90px;
  margin: 0;
}

/*Softening the corners of basket and farmer image*/
.basket {
  border-radius: 20px;
}
.farmer {
  border-radius: 20px;
}

/*Button settings*/
button {
  width: 320px;
  height: 45px;
  background: #DC4131;
  color: #FFFFFF;
  border-radius: 10px;
  border: 0;
}

button:hover {
  background: #AE2E21;
}

.ask {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid;
  border-color: black;
  padding: 90px;
  margin: 0;
}

/*Section 3*/

.info{
  display: flex;
  align-items: center;
  color: #0B0A08;
  border: 0.5px solid;
  border-color: black;
  height: 785px;
}

.h5Flex {
  display: flex;
  justify-content: space-between;
}

.orderInfo {
  border: 0.5px solid;
  border-color: black;
  display: flex;
  align-items: center;
  height: 197px;
  padding: 0px 90px;
}

.testHelp {
  margin-left: 188px;
}

/*Section 4*/
.popularProduce {
  background: #FFFFFF;
  padding-top: 90px;
  color: #0B0A08;
}

/*Heading for section 4*/
.h3Popular {
  font-weight: 100;
  display: flex;
  padding-left: 45px;
}

/*Section element for different produce options*/
.popularOptions {
  padding: 45px;
  padding-left: 30.5px;
  display: flex;
  padding-bottom: 90px;
  flex-direction: row;
  overflow-y: scroll; /*In case the image size is a bit to big for the vindow, added a scrolling menu*/
}

/*Images for produce products*/
.productImg {
  border-radius: 30px;
  padding: 14.5px;
}

/*Prize element for produce*/
.prize {
  display: flex;
  justify-content: space-between;
  padding: 14.5px;
}

footer {
  padding-top: 32px;
  background: #DC4131;
}

/*FRAM logo*/
.footerLogo {
  padding-left: 45px;
  padding-bottom: 32px;
}

/*Decor line*/
.footerLine {
  width: 90%;
}

/*Newsletter info*/
.footerText {
  display: flex;
  justify-content: center;
}

/*Subscription form*/
form {
    display: flex;
    flex-direction: column;
    padding:45px;
    width: 50%;
    margin: auto;
}

input {
  margin-bottom: 12px;
  border-color: #FFFFFF;
  border-radius: 5px;
  padding: 7px;
}

.subscribeBtn {
  margin-top: 12px;
  padding: 6px;
  border-radius: 5px;
  border-color: #E1EAF0;
  background: #E1EAF0;
}