/*General styling */
body {
    margin: 0;
    font-family: 'Arimo';
    font-size: 16px;
    color: #FFFFFF;
    background: #F7F2DE;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    overflow-x: hidden;
}

h2 {
  font-size: 36px;
  font-family:'Arimo';
  font-weight: 100;
}

h3 {
  font-size: 28px;
  text-align: center;
  font-family:'Arimo'; 
}

h4 {
  font-size: 26px;
  font-family:'Arimo';
  font-weight: lighter;
  padding: 0;
  border: 0;
  margin: 0;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
  font-family:'Frank Ruhl Libre'; 
  font-weight: lighter;
}

/*Locking the text at the top of the page*/
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Fram Logo*/
.logo {
  font-size: 200px;
  font-family:'Frank Ruhl Libre'; 
  font-weight: lighter;
  margin: 0;
}

.vertical {
  border-left: 1px solid #FFFFFF;
  height: 100px;
}

/*Background image*/
.background {
  background-image: url('../landingPageImg/mountainview_markus_spiske.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  border: 0.5px solid black;
}

/*Section 2*/

.options {
  display: flex;
align-items: stretch;
  background: #FFFFFF;
  color: #0B0A08;
  border: 0.5px solid;
  border-color: black;
}

/*basket and farmer image*/
.basket, .farmer {
  width: 448px; 
  height: 327px; 
  object-fit: cover;
  border-radius: 20px;
}

/*Button settings*/
.browseBtn, .chatBtn {
  width: 320px;
  height: 45px;
  background: #DC4131;
  color: #FFFFFF;
  border-radius: 10px;
  border: 0;
}

.browseBtn:hover {
  background: #AE2E21;
}

.chatBtn:hover {
  background: #AE2E21;
}
/*shop and ask section*/
.shop, .ask {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid;
  border-color: black;
  padding-top: 90px;
  padding-bottom:90px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

/*.shop and .ask for mobile*/

@media (max-width: 600px) {
  .shop, .ask {
    width: 100%;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }
  .options { /* Replace with actual parent container if needed */
    display: flex;
    flex-direction: column;
  }
  .basket, .farmer {
  width: 350px; 
  height: 250px; 
  object-fit: cover;
  border-radius: 20px;
  padding: 45px 0;
}
}

/*Section 3*/

.info{
  display: flex;
  align-items: center;
  color: #0B0A08;
  border: 0.5px solid;
  border-color: #0B0A08;
  height: 785px;
}

.info h2 {
  padding-left: 5px;
}

.h5Flex {
  display: flex;
  justify-content: space-between;
}

.orderInfo {
  border: 0.5px solid;
  border-color: #0B0A08;
  display: flex;
  align-items: center;
  height: 197px;
  padding: 0px 90px;
}

.testHelp {
  margin-left: 188px;
}

/*Making section 3 into a column for phone*/
@media (max-width: 600px) {
.orderInfo {
display: flex;
flex-direction: column;
align-items: center;
height: auto; 
background-color: #F7F2DE;
padding: 45px;
}

  .info { 
    display: flex;
    flex-direction: column;
    margin-bottom: 500px;
  }

  .testHelp {
    margin: 0;
  }
}

/*Section 4*/
.popularProduce {
  background: #FFFFFF;
  padding-top: 90px;
  margin-top: 10px;
  color: #0B0A08;
}

/*Heading for section 4*/
.h3Popular {
  font-weight: 100;
  display: flex;
  padding-left: 45px;
}

/*Section element for different produce options*/
.popularOptions {
  padding: 45px;
  padding-left: 30.5px;
  display: flex;
  padding-bottom: 90px;
  flex-direction: row;
  overflow-y: scroll; 
  /*added a scrolling menu in case needed*/
}

/*Images for produce products*/
.productImg {
  border-radius: 30px;
  padding: 14.5px;
  width: 455px; 
  height: 432px; 
  object-fit: cover;
}

/*Prize element for produce*/
.prize {
  display: flex;
  justify-content: space-between;
  padding: 14.5px;
  color:#0B0A08;
}

footer {
  padding-top: 32px;
  background: #DC4131;
}

/*FRAM logo*/
.footerLogo {
  padding: 0 40px;
  font-weight: 100;
}

/*Decor line*/
.footerLine {
  width: 95%;
}

/*Headline in Footer*/
.footerHeading {
  font-size: 28px;
  text-align: left;
  padding: 45px 20px;
  margin-left: 25px;
  font-family:'Arimo'; 
  font-weight: 100;
}
/*Newsletter info*/
.footerText {
  padding-bottom: 25px;
  padding-left: 0;
  white-space: normal;
  margin-left: 45px;
}

/*Subscription form*/
.join {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

form {
    padding:45px;
    width: 50%;
    margin: auto 0 0 0;
    height: 100%;
}

@media (max-width: 600px) {
  form {
    width: 100%;
    padding: 20px;
  }
  
}

/*Input fields in footer*/
input {
  margin-bottom: 12px;
  border-color: #FFFFFF;
  border-radius: 5px;
  padding: 7px;
  width: 60%;
}

/*subscribe Button in footer*/
.subscribeBtn {
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px;
  border-color: #E1EAF0;
  background: #E1EAF0;
}

/*Setting color for the text + locking the images to allow buttons over*/
.product {
  color: #0B0A08;
  position: relative;
}

.partnerFarmHeadline{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #0B0A08;
  color:#0B0A08;
  margin: auto;
  width: 100%;
  padding: 45px 0;
}