/*General styling */
body {
    margin: 0;
    font-family: 'Arimo';
    font-size: 16px;
    color: #FFFFFF;
    background: #F7F2DE;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    overflow-x: hidden;
}

h2 {
  font-size: 36px;
  font-family:'Arimo';
  font-weight: 100;
}

h3 {
  font-size: 28px;
  text-align: center;
  font-family:'Arimo'; 
}

h4 {
  font-size: 26px;
  font-family:'Arimo';
  font-weight: lighter;
  padding: 0;
  border: 0;
  margin: 0;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
  font-family:'Frank Ruhl Libre'; 
  font-weight: lighter;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}